<template>
  <div>
    <b-list-group-item>
      <b-table-simple responsive small caption-top>
        <caption>Instruction {{ instruction.order }} Information</caption>
        <b-thead>
          <b-tr>
            <b-th colspan="3">Apply Actions</b-th>
          </b-tr>
          <b-tr>
            <b-th>Order</b-th>
            <b-th colspan="2">Output-action</b-th>
          </b-tr>
          <b-tr>
            <b-th></b-th>
            <b-th>Max length:</b-th>
            <b-th>Output node connector:</b-th>
          </b-tr>
        </b-thead>
        <b-tbody>
          <b-tr
            v-for="action in instruction['apply-actions']['action']"
            :key="action.order"
          >
            <b-td>{{ action["order"] }}</b-td>
            <b-td>{{ action["output-action"]["max-length"] }}</b-td>
            <b-td>{{ action["output-action"]["output-node-connector"] }}</b-td>
          </b-tr>
        </b-tbody>
      </b-table-simple>
    </b-list-group-item>
  </div>
</template>

<script>
export default {
  props: ["instruction"],
};
</script>