<template>
  <div>
    <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button
          block
          v-b-toggle="`accordion-port-${port.dpid}`"
          variant="info"
          >Port {{ port.dpid }}</b-button
        >
      </b-card-header>
      <b-collapse
        :id="`accordion-port-${port.dpid}`"
        accordion="my-accordion"
        role="tabpanel"
      >
        <b-card-body>
          <b-container fluid>
            <b-row>
              <b-col
                ><b-table-simple hover small caption-top stacked>
                  <caption>
                    Port Information
                  </caption>
                  <b-thead head-variant="dark">
                    <b-tr>
                      <b-th>ID</b-th>
                      <b-th>Port Number</b-th>
                      <b-th>Hardware Address</b-th>
                      <b-th>Name</b-th>
                      <b-th>State Blocked</b-th>
                      <b-th>State Link-down</b-th>
                      <b-th>State Live</b-th>
                    </b-tr>
                  </b-thead>
                  <b-tbody>
                    <b-tr>
                      <b-td stacked-heading="ID">{{ port.dpid }}</b-td>
                      <b-td stacked-heading="Port Number">{{
                        port.port_number
                      }}</b-td>
                      <b-td stacked-heading="Hardware Address">{{
                        port.hardware_address
                      }}</b-td>
                      <b-td stacked-heading="Name">{{ port.name }}</b-td>
                      <b-td stacked-heading="State Blocked"
                        >{{ port.state.blocked }}
                        <b-icon
                          :icon="
                            port.state.blocked ? 'check-square' : 'x-circle'
                          "
                          scale="1"
                          :variant="port.state.blocked ? 'success' : 'danger'"
                        ></b-icon>
                      </b-td>
                      <b-td stacked-heading="State Link-down"
                        >{{ port.state["link-down"] }}
                        <b-icon
                          :icon="
                            port.state['link-down']
                              ? 'check-square'
                              : 'x-circle'
                          "
                          scale="1"
                          :variant="
                            port.state['link-down'] ? 'success' : 'danger'
                          "
                        ></b-icon
                      ></b-td>
                      <b-td stacked-heading="State Live"
                        >{{ port.state.live
                        }}<b-icon
                          :icon="port.state.live ? 'check-square' : 'x-circle'"
                          scale="1"
                          :variant="port.state.live ? 'success' : 'danger'"
                        ></b-icon
                      ></b-td>
                    </b-tr>
                  </b-tbody> </b-table-simple
              ></b-col>
              <b-col
                ><NodesPortsStatisticsInformation
                  :statistics="port.flow_capable_node_connector_statistics"
              /></b-col>
            </b-row>
          </b-container>

          <b-list-group v-if="port.addresses_tracker[0]">
            <NodesPortsHostsInformation
              :host="host"
              v-for="host in port.addresses_tracker"
              :key="host.id"
          /></b-list-group>
        </b-card-body>
      </b-collapse>
    </b-card>
  </div>
</template>

<script>
export default {
  props: ["port"],
};
</script>