<template>
  <div>
    <div v-if="node === undefined">Loading...</div>
    <div v-else>
      <b-container fluid>
        <b-row>
          <b-col>
            <b-card :title="`${node.dpid}`" :sub-title="`${node.ip_address}`">
              <b-table-simple hover small caption-top stacked>
                <caption>
                  Node Information
                </caption>
                <b-thead head-variant="dark">
                  <b-tr>
                    <b-th>ID</b-th>
                    <b-th>Description</b-th>
                    <b-th>Serial Number</b-th>
                    <b-th>Hardware</b-th>
                    <b-th>Software</b-th>
                    <b-th>Manufacturer</b-th>
                    <b-th>IP Address</b-th>
                    <b-th>Snapshot starts</b-th>
                    <b-th>Snapshot ends</b-th>
                  </b-tr>
                </b-thead>
                <b-tbody>
                  <b-tr>
                    <b-td stacked-heading="ID">{{ node.dpid }}</b-td>
                    <b-td stacked-heading="Description">{{
                      node.description
                    }}</b-td>
                    <b-td stacked-heading="Serial Number">{{
                      node.serial_number
                    }}</b-td>
                    <b-td stacked-heading="Hardware">{{ node.hardware }}</b-td>
                    <b-td stacked-heading="Software">{{ node.software }}</b-td>
                    <b-td stacked-heading="Manufacturer">{{
                      node.manufacturer
                    }}</b-td>
                    <b-td stacked-heading="IP Address">{{
                      node.ip_address
                    }}</b-td>
                    <b-td stacked-heading="Snapshot starts"
                      ><div v-if="node.snapshot_gathering_status_start">
                        {{
                          node.snapshot_gathering_status_start.begin
                            | formatDate
                        }}
                      </div>
                      <div v-else>None</div></b-td
                    >
                    <b-td stacked-heading="Snapshot ends"
                      ><div v-if="node.snapshot_gathering_status_end">
                        {{
                          node.snapshot_gathering_status_end.end | formatDate
                        }}
                        <b-icon
                          v-if="node.snapshot_gathering_status_end.succeeded"
                          icon="check-square"
                          scale="1"
                          variant="success"
                        ></b-icon>
                        <b-icon
                          v-else
                          icon="exclamation-triangle-fill"
                          scale="1"
                          variant="warning"
                        ></b-icon>
                      </div>
                      <div v-else>None</div></b-td
                    >
                  </b-tr>
                </b-tbody>
              </b-table-simple>
            </b-card>
          </b-col>
          <b-col
            ><div class="accordion-port" role="tablist">
              <NodesPortsInformation
                v-for="port in node.ports"
                :port="port"
                :key="port.dpid"
              /></div
          ></b-col>
        </b-row>
        <b-row>
          <b-col
            ><div class="accordion" role="tablist">
              <NodesTablesInformation
                v-for="table in node.tables.filter(
                  (table) => table.flows[0]
                )"
                :table="table"
                :key="table.id"
              /></div
          ></b-col>
        </b-row>
      </b-container>
    </div>
  </div>
</template>

<script>
export default {
  props: ["node"],
};
</script>