<template>
  <div>
    <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block v-b-toggle="`accordion-${table.id}`" variant="info"
          >Table {{ table.id }}</b-button
        >
      </b-card-header>
      <b-collapse
        :id="`accordion-${table.id}`"
        accordion="my-accordion"
        role="tabpanel"
      >
        <b-card-body>
          <b-card-text>
            <b-table-simple responsive caption-top>
              <caption>Table Information</caption>
              <b-thead>
                <b-tr>
                  <b-th></b-th>
                  <b-th colspan="3">Flow table statistics</b-th>
                </b-tr>
                <b-tr>
                  <b-th>ID</b-th>
                  <b-th>Active Flows</b-th>
                  <b-th>Packets looked-up</b-th>
                  <b-th>Packets matched</b-th>
                </b-tr>
              </b-thead>
              <b-tbody>
                <b-tr>
                  <b-td>{{ table.id }}</b-td>
                  <b-td>{{ table.flow_table_statistics["active-flows"] }}</b-td>
                  <b-td>{{
                    table.flow_table_statistics["packets-looked-up"]
                  }}</b-td>
                  <b-td>
                    {{ table.flow_table_statistics["packets-matched"] }}</b-td
                  >
                </b-tr>
              </b-tbody>
            </b-table-simple>
            <div v-if="table.flows[0]">
              <b-button
                v-b-toggle="`flows-${table.id}`"
                variant="primary"
                >See Flows</b-button
              >
              <b-collapse :id="`flows-${table.id}`" class="mt-2">
                <b-list-group class="container" v-if="table.flows[0]">
                  <NodesTablesFlowsInformation
                    :flow="flow"
                    v-for="flow in table.flows"
                    :key="flow.id"
                  />
                </b-list-group>
              </b-collapse>
            </div>
            <div v-else>No Flows</div>
          </b-card-text>
        </b-card-body>
      </b-collapse>
    </b-card>
  </div>
</template>

<script>
export default {
  props: ["table"],
};
</script>