<template>
  <div>
    <b-list-group-item>
      <b-table-simple responsive small caption-top>
        <caption>
          Hosts Infomation
        </caption>
        <b-thead>
          <b-tr>
            <b-th>ID</b-th>
            <b-th>MAC</b-th>
            <b-th>First seen</b-th>
            <b-th>Last seen</b-th>
            <b-th>IP</b-th>
          </b-tr>
        </b-thead>
        <b-tbody>
          <b-tr>
            <b-td>{{ host.id }}</b-td>
            <b-td>{{ host.mac }}</b-td>
            <b-td>{{ host.first_seen | formatDate }}</b-td>
            <b-td>{{ host.last_seen | formatDate }}</b-td>
            <b-td>{{ host.ip }}</b-td>
          </b-tr>
        </b-tbody>
      </b-table-simple>
    </b-list-group-item>
  </div>
</template>

<script lang="ts">
export default {
  props: ["host"],
};
</script>