<template>
  <main>
    <b-button @click="makeToast()"
      ><b-icon icon="inbox-fill"></b-icon> Show Alerts
      <b-badge variant="light" v-if="countNewMessages">{{
        countNewMessages
      }}</b-badge>
    </b-button>

    <b-toast id="message-alert-toast" variant="warning" solid>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <b-img
            blank
            blank-color="#ff5555"
            class="mr-2"
            width="12"
            height="12"
          ></b-img>
          <strong class="mr-auto">Alerts</strong>
          <small class="text-muted mr-2" v-if="messagesDatetime != null">Last message at {{
            $moment(messagesDatetime).fromNow()
          }}</small>
        </div>
      </template>
      <b-list-group>
        <b-list-group-item v-for="(item, index) in Messages" :key="index">
          {{ item.text }}
        </b-list-group-item>
      </b-list-group>
    </b-toast>
  </main>
</template>

<script>
export default {
  data() {
    return {
      countNewMessages: 0,
      Messages: [],
      connection: null,
      messagesDatetime: null,
    };
  },
  created() {
    this.getMessages();
    this.connection = new WebSocket(process.env.baseWsUrl + "/messages");

    this.connection.onopen = function (event) {
      this.connection.send(
        JSON.stringify({
          action: "subscribe_to_message_activity",
          request_id: new Date().getTime(),
        })
      );
    }.bind(this);

    this.connection.onmessage = function (event) {
      var parsedEvent = JSON.parse(event.data);
      this.Messages.unshift(parsedEvent.data);
      this.countNewMessages++;
      this.messagesDatetime = new Date();
      this.$nuxt.$emit("refresh", true);
    }.bind(this);
  },
  mounted() {
    this.$nuxt.$on("refresh", (refresh) => {
      this.getMessages();
    });
  },
  methods: {
    getMessages: function () {
      this.$axios
        .$get("/messages", {
          headers: {
            "Content-Type": "application/json",
          },
          withCredentials: true,
        })
        .then((response) => {
          console.log(response);
          this.Messages = response;
          this.messagesDatetime = this.Messages[0].created_at;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    makeToast: function () {
      this.countNewMessages = 0;
      this.$bvToast.show("message-alert-toast");
    },
  },
  destroyed() {
    this.connection.close();
  },
};
</script>