<template>
  <main>
    <b-button variant="primary" v-b-modal.save-topology-button>
      {{ NameSave }}
    </b-button>

    <b-button variant="primary" @click="refreshTopology()">
      {{ NameRefresh }}
    </b-button>

    <b-modal
      id="save-topology-button"
      :title="`${TitleConfirmation}`"
      @ok="saveTopologyState()"
    >
      <p class="my-4">{{ MessageConfirmation }}</p>
    </b-modal>
  </main>
</template>

<script>
export default {
  data() {
    return {
      NameSave: "Record Current Network State",
      NameRefresh: "Refresh Topology",
      MessageConfirmation: "Are you sure to record current network state?",
      TitleConfirmation: "Confirmation",
    };
  },
  methods: {
    saveTopologyState: function () {
      this.$axios
        .$post(
          "/topologies",
          {},
          {
            headers: {
              "Content-Type": "application/json",
            },
            withCredentials: true,
          }
        )
        .then((response) => {
          this.makeToast();
          this.$nuxt.$emit("refresh", true);
        })
        .catch((error) => {
          console.log(error);
        });
    },
    makeToast() {
      this.$bvToast.toast("Success Topology State Saved!", {
        title: "Network State Success",
        variant: "success",
        solid: true,
      });
    },
    refreshTopology: function () {
      this.$nuxt.$emit("refresh", true);
    },
  },
};
</script>