<template lang="">
    <div>
        <div id="topology-container" style="width: 100%; height: 100%;">
        </div>
    </div>
</template>

<script>
export default {
  data() {
    return {
      topology: [],
      topologyData: undefined,
      app: undefined,
      topology_: undefined,
    };
  },
  async created() {
    this.getTopology();
  },
  mounted() {
    this.$nuxt.$on("refresh", (refresh) => {
      this.refresh();
    });
  },
  methods: {
    makeTopology: function () {
      var nodes = this.makeNodes();
      var links = this.makeLinks(nodes);
      return {
        nodes: nodes,
        links: links,
      };
    },
    showTopology(nx, topologyData) {
      // instantiate NeXt app
      this.app = new nx.ui.Application();
      // configuration object for next
      var topologyConfig = {
        // size
        adaptive: true,
        // special configuration for nodes
        nodeConfig: {
          label: "model.name",
          iconType: "model.icon",
        },
        // special configuration for links
        linkConfig: {
          linkType: "curve",
        },
        // identityKey is by default ID, otherwise could be 'name'
        //"identityKey": 'id',
        // if true, the nodes' icons are shown, otherwise a user sees a dot instead
        showIcon: true,
        // automatically compute the position of nodes
        dataProcessor: "force",
        enableSmartLabel: false,
        enableGradualScaling: false,
        supportMultipleLink: true,
      };

      // instantiate Topology class
      this.topology_ = new nx.graphic.Topology(topologyConfig);
      // load topology data from topologyData
      this.topology_.data(topologyData);
      // https://www.skypack.dev/view/react-next-ui
      // https://developer.cisco.com/site/neXt/document/api-reference-manual/classes/nx.graphic.Topology/
      // this -> https://github.com/NeXt-UI/next-tutorials/blob/master/tutorials/tutorial-005.md
      this.topology_.on("topologyGenerated", function (sender, event) {
        // Disable elements -> https://developer.cisco.com/site/neXt/discover/demo/#Basic/base
        // https://developer.cisco.com/site/neXt/document/api-reference-manual/classes/nx.graphic.Topology.LinksLayer/
        var links = sender.getLayer("links").links();
        var nodes = sender.getLayer("nodes").nodes();
        nodes.forEach((node) => {
          node.enable(node.node().model()._data.enable);
          node.update();
        });
        links.forEach((link) => {
          link.enable(link._model._data.enable);
          link.update();
        });
      });
      // app must run inside a specific container. In our case this is the one with id="topology-container"
      this.app.container(document.getElementById("topology-container"));

      // bind the topology object to the app
      this.topology_.attach(this.app);

      this.topology_.showLoading();
    },
    getTopology: function () {
      this.$axios
        .$get("/topologies", {
          headers: {
            "Content-Type": "application/json",
          },
          withCredentials: true,
        })
        .then((response) => {
          this.topology = response;
          var topologyData = this.makeTopology();
          this.topologyData = topologyData;
          this.showTopology(nx, topologyData);
        })
        .catch((error) => {
          var topologyData = this.makeTopology();
          this.showTopology(nx, topologyData);
          console.log(error);
        });
    },
    refreshTopology: function () {
      this.$axios
        .$get("/topologies", {
          headers: {
            "Content-Type": "application/json",
          },
          withCredentials: true,
        })
        .then((response) => {
          console.log("Refreshing Topology Data");
        })
        .catch((error) => {
          console.log(error);
        });
    },
    makeNodes: function () {
      let nodes = [];
      this.topology.nodes.forEach((node_) => {
        var icon = ''
        if (node_.name.startsWith("host")) {
          icon = 'host'
        } else {
          icon = 'switch'
        }
        nodes.push({
          id: node_.dpid,
          name: node_.name,
          is_down: node_.is_down,
          enable: !node_.is_down,
          icon: icon
        });
      });
      return nodes;
    },
    makeLinks: function (nodes) {
      let links = [];
      this.topology.links.forEach((link_) => {
        links.push({
          source: nodes.findIndex((node) => node.id === link_.source),
          target: nodes.findIndex((node) => node.id === link_.destination),
          is_down: link_.is_down,
          enable: !link_.is_down,
        });
      });
      return links;
    },
    refresh: function () {
      this.$axios
        .$get("/topologies", {
          headers: {
            "Content-Type": "application/json",
          },
          withCredentials: true,
        })
        .then((response) => {
          this.topology = response;
          var topologyData = this.makeTopology();
          this.topologyData = topologyData;
          // load topology data from topologyData
          this.topology_.data(this.topologyData);
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>