<template>
  <div>
    <b-table-simple hover small caption-top stacked>
      <caption>
        Statistics Port Information
      </caption>
      <b-thead head-variant="dark">
        <b-tr>
          <b-th>Receive frame error</b-th>
          <b-th>Packets Received</b-th>
          <b-th>Packets Transmitted</b-th>
          <b-th>Bytes Received</b-th>
          <b-th>Bytes Transmitted</b-th>
          <b-th>Duration (ns)</b-th>
          <b-th>Duration (s)</b-th>
        </b-tr>
      </b-thead>
      <b-tbody>
        <b-tr>
          <b-td stacked-heading="Receive frame error">{{
            statistics["receive-frame-error"]
          }}</b-td>
          <b-td stacked-heading="Packets Received">{{
            statistics.packets.received
          }}</b-td>
          <b-td stacked-heading="Packets Transmitted">{{
            statistics.packets.transmitted
          }}</b-td>
          <b-td stacked-heading="Bytes Received">{{
            statistics.bytes.received
          }}</b-td>
          <b-td stacked-heading="Bytes Transmitted">{{
            statistics.bytes.transmitted
          }}</b-td>
          <b-td stacked-heading="Duration (ns)">{{
            statistics.duration.nanosecond
          }}</b-td>
          <b-td stacked-heading="Duration (s)">{{
            statistics.duration.second
          }}</b-td>
        </b-tr>
      </b-tbody>
    </b-table-simple>
  </div>
</template>

<script>
export default {
  props: ["statistics"],
};
</script>