<template>
  <b-container fluid>
    <NodesFeatures :node="node" />
  </b-container>
</template>

<script>
export default {
  data() {
    return {
      node: undefined,
      statistics: [],
      nodes: [],
      slug: this.slug,
      connection: null,
    };
  },
  created() {
    this.getUser();
  },
  async mounted() {
    console.log("Starting connection to WebSocket Server");
    this.connection = new WebSocket(process.env.baseWsUrl + "/statistics");

    this.connection.onopen = function (event) {
      console.log("Successfully connected to the echo websocket server...");
      this.connection.send(
        JSON.stringify({
          action: "subscribe_to_statistics_activity",
          request_id: new Date().getTime(),
        })
      );
    }.bind(this);

    this.connection.onmessage = function (event) {
      console.log("Successfully reciving messages");
      var parsedEvent = JSON.parse(event.data);
      this.statistics = parsedEvent.data;
      this.nodes = this.statistics.nodes;
      this.node = this.nodes.find((node) => node.dpid === this.slug);
    }.bind(this);
  },
  asyncData({ params }) {
    return {
      slug: params.slug,
    };
  },
  methods: {
    getUser: function () {
      this.$axios
        .$get("/user", {
          headers: {
            "Content-Type": "application/json",
          },
          withCredentials: true,
        })
        .then((response) => {
          this.$nuxt.$emit("auth", true);
        })
        .catch((error) => {
          this.$nuxt.$emit("auth", false);
          this.$router.push("/login");
          console.log(error);
        });
    },
  },
  destroyed() {
    this.connection.close();
    this.connection.onclose = function (event) {
      console.log("Successfully close connection");
    };
  },
};
</script>