<template>
  <div>
    <b-container fluid>
      <div v-if="nodes != []">
        <b-card-group deck>
          <b-card
            :title="`${node.dpid}`"
            v-for="node in nodes"
            :key="node.dpid"
          >
            <b-card-body>
              <b-table-simple small stacked responsive>
                <b-thead>
                  <b-tr>
                    <b-th>Node</b-th>
                    <b-th>IP Address</b-th>
                  </b-tr>
                </b-thead>
                <b-tbody>
                  <b-tr
                    ><b-td stacked-heading="Node">{{ node.description }}</b-td
                    ><b-td stacked-heading="IP Address">{{
                      node.ip_address
                    }}</b-td></b-tr
                  >
                </b-tbody>
              </b-table-simple>

              <NuxtLink
                :to="`/switches/${node.dpid.toLowerCase()}`"
                class="card-link"
                >Show details></NuxtLink
              >
            </b-card-body>
          </b-card>
        </b-card-group>
      </div>
      <div v-else>Loading...</div>
    </b-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      node: undefined,
      statistics: [],
      nodes: [],
      connection: null,
    };
  },
  created() {
    this.getUser();
  },
  async mounted() {
    console.log("Starting connection to WebSocket Server");
    this.connection = new WebSocket(process.env.baseWsUrl + "/statistics");

    this.connection.onopen = function (event) {
      console.log("Successfully connected to the echo websocket server...");
      this.connection.send(
        JSON.stringify({
          action: "subscribe_to_statistics_activity",
          request_id: new Date().getTime(),
        })
      );
    }.bind(this);

    this.connection.onmessage = function (event) {
      console.log("Successfully reciving messages");
      var parsedEvent = JSON.parse(event.data);
      this.statistics = parsedEvent.data;
      this.nodes = this.statistics.nodes;
      this.node = this.statistics.nodes[0];
    }.bind(this);
  },
  methods: {
    getUser: function () {
      this.$axios
        .$get("/user", {
          headers: {
            "Content-Type": "application/json",
          },
          withCredentials: true,
        })
        .then((response) => {
          this.$nuxt.$emit("auth", true);
        })
        .catch((error) => {
          this.$nuxt.$emit("auth", false);
          this.$router.push("/login");
          console.log(error);
        });
    },
  },
  destroyed() {
    this.connection.close();
    this.connection.onclose = function (event) {
      console.log("Successfully close connection");
    };
  },
};
</script>