<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="dark">
      <b-navbar-brand :to="`/`">Home</b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item :to="`/switches`" v-if="auth" active-class="/switches"
            >Switches</b-nav-item
          >
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-item :to="`/login`" v-if="!auth" active-class="/login"
            >Login</b-nav-item
          >
          <b-nav-item :to="`/register`" v-if="!auth" active-class="/register"
            >Register</b-nav-item
          >

          <b-nav-item-dropdown v-if="auth" right>
            <!-- Using 'button-content' slot -->
            <template #button-content>
              <b-img
                src="https://placekitten.com/g/30/30"
                rounded="circle"
                alt="Kitten"
              />
              <em>User</em>
            </template>

            <b-dropdown-item @click="logout">
              <b-icon icon="power" aria-hidden="true"></b-icon> Logout
            </b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <br />
    <b-container fluid>
      <Nuxt />
    </b-container>
  </div>
</template>

<script>
export default {
  name: "layout",
  data() {
    return {
      auth: false,
    };
  },
  mounted() {
    this.$nuxt.$on("auth", (auth) => {
      this.auth = auth;
    });
  },
  methods: {
    async logout() {
      await this.$axios
        .$post(
          "/logout",
          {},
          {
            withCredentials: true,
            headers: {
              "Content-Type": "application/json",
            },
          }
        )
        .then((response) => {
          this.auth = false;
          this.$router.push("/login");
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>

<style>
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>
