<template>
  <b-container fluid>
    <b-row>
      <b-col>
        <b-row>
          <b-col>
            <b-card title="Topology Tools" sub-title="A Set of tools for Topology Interaction">
              <b-card-text>
                <SaveTopologyButton />
              </b-card-text>
            </b-card>
          </b-col>
          <b-col>
            <b-card title="Alerts" sub-title="A set of tools for Alerts Messages">
              <b-card-text>
                <Messages />
              </b-card-text>
            </b-card>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <Topology />
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import Vue from "vue";

export default Vue.extend({
  data() {
    return {
      topologyKey: 0,
    };
  },
  mounted() {
    this.getUser();
  },
  methods: {
    getUser: function () {
      this.$axios
        .$get("/user", {
          headers: {
            "Content-Type": "application/json",
          },
          withCredentials: true,
        })
        .then((response) => {
          this.$nuxt.$emit("auth", true);
        })
        .catch((error) => {
          this.$nuxt.$emit("auth", false);
          this.$router.push("/login");
          console.log(error);
        });
    },
  },
});
</script>