<template>
  <div class="container">
    <form class="form-signin" @submit.prevent="submit">

      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

      <input v-model="email" type="email" class="form-control" placeholder="Email address" required>

      <input v-model="password" type="password" class="form-control" placeholder="Password" required>
      
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
  </div>
</template>

<script>
export default {
  name: 'login',
  data() {
    return {
      email: '',
      password: ''
    }
  },
  methods: {
    async submit() {
      await this.$axios.$post('/login',{
        email: this.email,
        password: this.password
      },{
        headers: {
          'Content-Type': 'application/json'
        },
        withCredentials: true
      })
      .then(response => {
        this.$router.push('/')
        console.log(response)
      }).catch(error => {
        console.log(error)
      })
    }
  },
}
</script>