<template>
  <div class="container">
    <form class="form-signin" @submit.prevent="submit">

      <h1 class="h3 mb-3 font-weight-normal">Please Register</h1>

      <input v-model="name" type="name" class="form-control" placeholder="Name" required>

      <input v-model="email" type="email" class="form-control" placeholder="Email address" required>

      <input v-model="password" type="password" class="form-control" placeholder="Password" required>
      
      <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
  </div>
</template>

<script>
export default {
  name: 'register',
  data() {
    return {
      name: '',
      email: '',
      password: ''
    }
  },
  methods: {
    async submit() {
      await this.$axios.$post('/register',{
        name: this.name,
        email: this.email,
        password: this.password
      },{
        headers: {
          'Content-Type': 'application/json'
        }
      })
      .then(response => {
        this.$router.push('/login')
        console.log(response)
      }).catch(error => {
        console.log(error)
      })
    }
  },
}
</script>