<template>
  <div>
    <b-list-group-item>
      <b-table-simple responsive small caption-top>
        <caption>Flow Statistics Information</caption>
        <b-thead>
          <b-tr>
            <b-th colspan="2">Flow Information</b-th>
            <b-th colspan="11">Flow Statistics</b-th>
          </b-tr>
          <b-tr>
            <b-th>ID</b-th>
            <b-th>Priority</b-th>
            <b-th>Packet count</b-th>
            <b-th>Byte count</b-th>
            <b-th>Duration (ns)</b-th>
            <b-th>Duration (s)</b-th>
            <b-th>Table ID</b-th>
            <b-th>Cookie mask</b-th>
            <b-th>Hard timeout</b-th>
            <b-th>Match in port</b-th>
            <b-th>Cookie</b-th>
            <b-th>Flags</b-th>
            <b-th>Idle timeout</b-th>
          </b-tr>
        </b-thead>
        <b-tbody>
          <b-tr>
            <b-td>{{ flow.id }}</b-td>
            <b-td>{{ flow.priority }}</b-td>
            <b-td>{{ flow.flow_statistics["packet-count"] }}</b-td>
            <b-td>{{ flow.flow_statistics["byte-count"] }}</b-td>
            <b-td>{{ flow.flow_statistics.duration.nanosecond }}</b-td>
            <b-td>{{ flow.flow_statistics.duration.second }}</b-td>
            <b-td>{{ flow.table_id }}</b-td>
            <b-td>{{ flow.cookie_mask }}</b-td>
            <b-td>{{ flow.hard_timeout }}</b-td>
            <b-td>{{ flow.match["in-port"] }}</b-td>
            <b-td>{{ flow.cookie }}</b-td>
            <b-td>{{ flow.flags }}</b-td>
            <b-td>{{ flow.idle_timeout }}</b-td>
          </b-tr>
        </b-tbody>
      </b-table-simple>
      <div v-if="flow.instructions.instruction !== undefined">
        <b-button v-b-toggle="`instructions-${flow.id}`" variant="primary"
          >See Instructions</b-button
        >
        <b-collapse :id="`instructions-${flow.id}`" class="mt-2">
          <b-list-group>
            <NodesTablesFlowsInstructionsInformation
              :instruction="item"
              v-for="item in flow.instructions.instruction"
              :key="item.order + flow.id"
            />
          </b-list-group>
        </b-collapse>
      </div>
      <div v-else>No instructions</div>
    </b-list-group-item>
  </div>
</template>

<script>
export default {
  props: ["flow"],
};
</script>